<script setup lang="ts">
import MainLayout from "@/layouts/MainLayout.vue";
import FullLayout from "@/layouts/FullLayout.vue";
import LoadingDialog from "./components/LoadingDialog.vue";
import MessageDialog from "./components/MessageDialog.vue";
import DialogProduct from "./views/products/DialogProduct.vue";
import DialogUser from "./views/users/DialogUser.vue";
</script>

<template>
  <component
    :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"
  ></component>
  <LoadingDialog></LoadingDialog>
  <MessageDialog></MessageDialog>
  <DialogProduct></DialogProduct>
  <DialogUser></DialogUser>
</template>

<style scoped></style>
