<script setup lang="ts">
import { useUserStore } from "@/stores/user";

const userStore = useUserStore();
function deleteUsers() {
  userStore.deleteUsers(userStore.deleteID);
  userStore.dialogConfirmDelete = false;
}
</script>

<template>
  <v-row>
    <v-dialog v-model="userStore.dialogConfirmDelete">
      <v-card>
        <v-card-title class="text-center">
          <span class="text-h5">ต้องการลบหรือไม่ ?</span>
        </v-card-title>
        <v-card-actions class="justify-center">
          <v-btn color="error" variant="text" @click="deleteUsers"> ลบ </v-btn>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="userStore.dialogConfirmDelete = false"
          >
            ยกเลิก
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
